<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/style.css" />
  <title>TinyApp</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h3>Create Account</h3>
  <form action="/register" method="POST">
    <label htmlFor="email">Email</label>
    <input type="email" name="email" placeholder="Enter email">
    <label htmlFor="password">Password</label>
    <input type="password" name="password" placeholder="Password">
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
</body>
</html>