.edit-btn {
 	background-color: rgb(247, 247, 247);
 	color: skyblue;
 	font-size: 20px;
 	font-family: 'Courier New', Courier, monospace;
 	font-weight: 800;
 	border: none;
 	cursor: pointer;
}

.delete-btn {
 	background-color: rgb(247, 247, 247);
 	color: red;
 	font-size: 20px;
 	font-family: 'Courier New', Courier, monospace;
 	font-weight: 800;
 	border: none;
 	cursor: pointer;
}

.submit-btn {
	background-color: azure;
 	color: black;
 	font-size: 20px;
 	font-weight: 800;
	border-radius: 12px;
	border: 2px solid darkblue;
	cursor: pointer;
	margin-left: 20px;
	padding: 5px;
}